* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #93E6B4;
    font-family: 'Verdana', sans-serif;
}

header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.titulo{
    background-color: coral;
    color:white;
    font-weight: normal;
    font-size: 300%;
    text-align: center;
    font-family: Garamond; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 17.6px;
}

p{
    font-size: 16px; 
}

h2, h3, p, h4{
    text-align: center; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal; 
    font-variant: normal; 
    line-height: 20px;   
}

form{
    width: 500px;
    border:1px solid white;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    background-color: white;

}

table{
    text-align: center; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    line-height: 20px;  
}

input[type=text] {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

input[type=number] {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

input[type=password] {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

#landing_logo {
    width: 150px;
    float: left;
}

#horizontal_navbar {
    float: right;
}

#boton_registro_usuario{
  background-color: coral;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  border-color: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  position:absolute;
  top: 10px;
  right: 10px;
}

#boton_iniciar_sesion{
  background-color: coral;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  border-color: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  position:absolute;
  top: 10px;
  right: 160px;
}

#enviar_registro{
  background-color: coral;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  border: none;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

#restablecer_registro{
  background-color: coral;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  border: none;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  
}
